*
!/.gitignore

################################################################
# MAIN FOLDER
################################################################

!/README.md
!/LICENCE
!/justfile
!/requirements*
!/.coveragerc
!/pyproject.toml

################################################################
# PROJECT FILES
################################################################

!/src
!/src/**/
!/src/**/*.py
!/src/*/models/*-schema.yaml

!/examples
!/examples/data
!/examples/data/*.csv
!/examples/out
!/examples/out/*.png
!/examples/*.py
!/examples/README.md

!/documentation
!/documentation/**/
!/documentation/**/*.md

!/tests
!/tests/**/
!/tests/**/*.py

!/dist
!/dist/VERSION

################################################################
# AUXLIARY
################################################################

/logs

################################################################
# ARTEFACTS
################################################################

/**/__pycache__
/**/.pytest_cache
/**/.DS_Store
/**/__archive__*
/**/.vscode

################################################################
# Git Keep
################################################################

!/**/.gitkeep
