pip>=22.3.1
wheel>=0.38.4
setuptools>=67.4.0
typing>=3.7.4.3
pathlib>=1.0.1
importlib>=1.0.4
shortuuid>=1.0.11
pyyaml>=6.0
pydantic>=1.9.1
numpy>=1.24.2
dataclasses>=0.6
pydantic>=1.10.5
pandas>=1.5.3
matplotlib>=3.7.0
tabulate>=0.9.0
coverage[toml]>=7.2.1
pytest>=7.2.1
pytest-cov>=4.0.0
pytest-lazy-fixture>=0.6.3
pytest-order>=1.0.1
testfixtures>=7.1.0
datamodel-code-generator>=0.17.1
openapi-generator-cli>=4.3.1
